<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Text Evaluation</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

 <body>

   <header>
    <div class ="header">
      <h1>Evaluate News Article with Natural Language Processing</h1>
    </div>

   </header>

  <main>
    <div id="div1">
      <form>
        <div id="form">
          <label for="evaluate">Please enter URL:</label>
          <input type="text" id="url-input" name="evaluate" placeholder="http(s)://">
        </div>
        <div id="input-test"></div>
        <div id="button">
          <input type="submit" name="evaluate" id="generate" value="send">
          </div>
        </form>
          <div id="error"></div>
    </div>
    
  <div id="div2">
    <div id="response">
      Agreement: <div class="response-field" id="agreement"></div>
      Subjectivity: <div class="response-field" id="subjectivity"></div>
      Confidence: <div class="response-field" id="confidence"></div>
      Irony: <div class="response-field" id="irony"></div>

    </div>
  </div>

</main>

   <footer>

   </footer>

</body>
</html>